body {
  font-family: Ubuntu;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cell-grid {

  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 8px;
  height: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.alive {
  background: #f60;
}

.dead {
  background: #444;
}

button {
  background: #3498db;
  color: white;
  font-family: Ubuntu;
  padding: 0.8em;
  margin: 0.4em;
  border: none;
  border-radius: 0.3em;
}
